---
import type { MarkdownHeading } from "astro";
import MoreMenu from "../RightSidebar/MoreMenu.astro";
import TableOfContents from "../RightSidebar/TableOfContents";
type Props = {
  title: string;
  headings: MarkdownHeading[];
  editUrl: string;
  imageSrc: string | undefined;
  imageAlt: string | undefined;
};

const { title, headings, editUrl, imageSrc, imageAlt } = Astro.props;
console.log(headings);
---

<article id="article" class="">
  <section class="w-full flex flex-col">
    {
      imageSrc != undefined 
      ? 
        <div class="overflow-hidden w-full h-64">
          <img class="w-full" src={imageSrc} alt={imageAlt} /> 
        </div>  
      : 
      <></>
    }
    <h1 class="text-4xl font-bold flex items-center gap-4">
      {title}
    </h1>

    <div class="prose max-w-none">
      <slot />
    </div>
  </section>

</article>
